body {
    background-image: url(../images/VertGrad_White2SteelBlue.png);
    background-repeat: repeat-x;
    background-color: SteelBlue;
}
h1, h2 {
    color: navy;
    margin-left: 20px;
}
p {
    color: navy;
}
