body {
    background-image: url(../images/VertGrad_White2SteelBlue.png);
    background-repeat: repeat-x;
    background-color: SteelBlue;
}
h1, h2 {
    color: navy;
    margin-left: 20px;
}
p {
    color: navy;
}
p.bottom {
    border-bottom-style: solid;
    border-width: 5px;
    border-color: navy;
    color: navy;
}
p.left {
    background-color: PaleGreen;
    border-left-style: solid;
    border-width: 20px;
    border-color: SeaGreen;
    color: DarkOrange;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 30px
}
#graph {
    background-image: url(../images/Graph_SP500_d4.png);
    background-repeat: no-repeat;
    background-color: white;
    color: Maroon;
    margin-left: 50px;
    width: 80%;
    padding: 30px;
}
