h2 {
    color: maroon;
} 
h1 {
    color: navy;
    margin-left: 20px;
}
#para1 {
    color: blue;
    text-align: center;
}
.center {
    color: green;
    text-align: center;
}
p.bluetext {
    color: blue;
}
.large {
    font-size: 300%;
}
body {
    background-color: linen;
}
